<% include ../partials/boilerplate.ejs %>
<div class = 'single-hero'>
  <h2 class = 'singleName'> <%= hero.name %> </h2>
  <h2 class = 'singleName'> <%= hero.realname %> </h2>
  <h2 class = 'singleName'> <%= hero.location %> </h2>
  <h3 class = 'singleName'> <%= hero.description %> </h3>

<a href='/hero/add'>Add a Super Hero!</a>
<a href='/hero/edit/<%= hero.id %>'>Edit SuperHero</a>  
<form 
   method='POST' action='/hero/<%= hero.id %>?_method=DELETE'>
   <input type='submit' value='Pow!' />
</form>

</div>

<% include ../partials/end %>






