<% include ../partials/boilerplate.ejs %>


<h1>  Welcome to the Marvel Universel</h1>

<% console.log(heroData[0]) %>

<div class = 'hero'> 

<% heroData.forEach(function(hero) { %>


<div class = 'my-hero'>
  <h2 class = 'name'> <%= hero.name %> </h2>
  <h2 class = 'name'> <%= hero.realname %> </h2>
  <h2 class = 'name'> <%= hero.location_name %> </h2>
 <div class = 'img'> <img src = '<%= hero.image %>'></div>

  <h3 class = 'name'> <%= hero.description %> </h3>

<a href='/hero/add'>Add a Super Hero!</a>
<a href='/hero/edit/<%= hero.id %>'>Edit SuperHero</a>  
<form 
   method='POST' action='/hero/<%= hero.id %>?_method=DELETE'>
   <input type='submit' value='Pow!' />
</form>

</div>
  <% }) %>
</div>

<input type="text" name="search" placeholder="Search">



<% include ../partials/end %>






